In [1]:
import numpy as np
import pandas as pd

In [21]:
dataframe = pd.read_csv(r'C:\Users\seans\WebstormProjects\CS 360 - Assignment 6\data\diamonds.csv')

In [22]:
df = dataframe.copy()

In [23]:
df

,diamond_id,shape,size,color,fancy_color_dominant_color,fancy_color_secondary_color,fancy_color_overtone,fancy_color_intensity,clarity,cut,...,girdle_min,girdle_max,culet_size,culet_condition,fluor_color,fluor_intensity,lab,total_sales_price,eye_clean,date
0,131328926,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Excellent,...,M,M,N,NaN,NaN,None,IGI,200,NaN,2022-02-24
1,131704776,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Very Good,...,STK,STK,N,NaN,NaN,None,IGI,200,NaN,2022-02-24
2,131584417,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Excellent,...,TN,M,NaN,NaN,NaN,None,IGI,200,NaN,2022-02-24
3,131584416,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Excellent,...,M,STK,NaN,NaN,NaN,None,IGI,200,NaN,2022-02-24
4,131613644,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Very Good,...,STK,STK,N,NaN,NaN,None,IGI,200,NaN,2022-02-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219699,135619262,Round,10.65,E,NaN,NaN,NaN,NaN,VS1,Excellent,...,M,STK,N,NaN,NaN,None,GIA,1210692,NaN,2022-02-24
219700,135122237,Radiant,5.17,NaN,Green,NaN,None,Fancy Light,VS2,NaN,...,TK,XTK,NaN,NaN,NaN,None,GIA,1292500,NaN,2022-02-24
219701,135553116,Round,18.07,E,NaN,NaN,NaN,NaN,VS1,Excellent,...,TN,M,N,NaN,NaN,None,GIA,1315496,NaN,2022-02-24
219702,114752541,Princess,0.90,NaN,Red,NaN,NaN,Fancy,SI2,NaN,...,XTN,VTK,N,NaN,NaN,Faint,GIA,1350000,NaN,2022-02-24
219703,129630500,Pear,10.03,NaN,Yellow,NaN,NaN,Fancy Vivid,VVS2,NaN,...,NaN,NaN,NaN,NaN,NaN,None,GIA,1449881,NaN,2022-02-24

In [24]:
grouped_mean = df.groupby(['shape']).mean().groupby('shape')['total_sales_price'].mean()

In [25]:
grouped_mean

shape
Asscher             18663.314269
Cushion             23645.741021
Cushion Modified    15355.634036
Emerald             12117.904517
Heart                9804.151445
Marquise             7885.490230
Oval                10286.717904
Pear                11597.651623
Princess             8573.694610
Radiant             16734.435524
Round                5031.851146
Name: total_sales_price, dtype: float64

In [26]:
groupDF = grouped_mean.to_frame()

In [27]:
groupDF.columns

Index(['total_sales_price'], dtype='object')

In [33]:
groupDF = groupDF.reset_index()

In [34]:
groupDF

               shape  total_sales_price
0            Asscher       18663.314269
1            Cushion       23645.741021
2   Cushion Modified       15355.634036
3            Emerald       12117.904517
4              Heart        9804.151445
5           Marquise        7885.490230
6               Oval       10286.717904
7               Pear       11597.651623
8           Princess        8573.694610
9            Radiant       16734.435524
10             Round        5031.851146

In [35]:
groupDF.columns

Index(['shape', 'total_sales_price'], dtype='object')

In [36]:
# write processsed df to csv file
groupDF.to_csv('diamondcleaned.csv', header=True, index=False)